<?mapper version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nhga.zkglpt.mapper.TblDpMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.nhga.zkglpt.model.TblDp">
        <id column="id" property="id" />
        <result column="bh" property="bh" />
        <result column="mc" property="mc" />
        <result column="depart_id" property="departId" />
        <result column="dz" property="dz" />
        <result column="dzxm" property="dzxm" />
        <result column="dzsfzh" property="dzsfzh" />
        <result column="kysj" property="kysj" />
        <result column="jyfw" property="jyfw" />
        <result column="dpzt" property="dpzt" />
        <result column="creator" property="creator" />
        <result column="modifier" property="modifier" />
        <result column="create_date" property="createDate" />
        <result column="modify_date" property="modifyDate" />
        <result column="is_deleted" property="isDeleted" />
    </resultMap>

</mapper>
