<?mapper version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nhga.zkglpt.mapper.TblOtherMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.nhga.zkglpt.model.TblOther">
        <id column="id" property="id" />
        <result column="mc" property="mc" />
        <result column="color" property="color" />
        <result column="brand" property="brand" />
        <result column="tzh" property="tzh" />
        <result column="jz" property="jz" />
        <result column="tzms" property="tzms" />
        <result column="hgsj" property="hgsj" />
        <result column="bz" property="bz" />
        <result column="wpzp" property="wpzp" />
        <result column="kyxx" property="kyxx" />
        <result column="dy_id" property="dyId" />
        <result column="lrsj" property="lrsj" />
    </resultMap>

</mapper>
