<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nhga.zkglpt.mapper.TblDyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.nhga.zkglpt.model.TblDy">
        <id column="id" property="id" />
        <result column="bh" property="bh" />
        <result column="sfzh" property="sfzh" />
        <result column="mc" property="mc" />
        <result column="pwd" property="pwd" />
        <result column="xb" property="xb" />
        <result column="phone" property="phone" />
        <result column="dp_id" property="dpId" />
        <result column="ryxzz" property="ryxzz" />
        <result column="dyzt" property="dyzt" />
        <result column="creator" property="creator" />
        <result column="modifier" property="modifier" />
        <result column="create_date" property="createDate" />
        <result column="modify_date" property="modifyDate" />
        <result column="is_deleted" property="isDeleted" />
    </resultMap>

</mapper>
