<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nhga.zkglpt.mapper.TblDepartmentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.nhga.zkglpt.model.TblDepartment">
        <id column="id" property="id" />
        <result column="depart_code" property="departCode" />
        <result column="depart_path" property="departPath" />
        <result column="parent_code" property="parentCode" />
        <result column="depart_name" property="departName" />
        <result column="level" property="level" />
        <result column="leaf" property="leaf" />
        <result column="creator" property="creator" />
        <result column="modifier" property="modifier" />
        <result column="create_date" property="createDate" />
        <result column="modify_date" property="modifyDate" />
        <result column="is_deleted" property="isDeleted" />
    </resultMap>

</mapper>
